@charset "UTF-8";
/* Mobile Firts





*/


html , body {
    height: 99vh;
    width: 95vw;

}
body {
    background: url(../imagens/back.jpg) black;
    position: relative;
}

div#pai {
    height: 200px;
    width: 200px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.415);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div > h1, p {
    color: white;
}