@charset "UTF-8";
/* Mobile Firts 
Typical Device Breakpoints
---------------------------
Pequena telas: até 600px
Celular: 600px atyé 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

:root {
    --cor1: #F27405;
    --cor2: #F24405;
    --cor3: #A6033F;
    --cor4: #021859;
    --cor5: #011640;
}
* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html, body {
    height: 90vh;
    width: 100vw;
    position: relative;
}

body {
    background: url(../imagens/back.jpg) black no-repeat fixed center left;
    background-size: cover;
    
}


section#login {
    height: 400px;
    width: 300px;
    padding: 20px;
    background: linear-gradient(to bottom,#ce4817cd , #a6033fd8, #02185ad5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
    box-shadow: 1px 1px 5px rgb(61, 61, 61);
}
h1 {
    text-align: center;
    font-size: 2.2em;
    margin-top: 19px;
    color:white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.561);
    line-height: 30px;

} 
p {
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin: 15px 0px 5px 0px;
}
form { 
    position: relative;
    top: 0%;
    left: 0%;
    height: 120px;
    width: 320px;
}
div#campo1 {
    margin-top: 15px;
    margin-bottom: 15px;
 }
 input[type=email] {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 14px;
 }

 input[type=password] {
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 14px;
 }

 #person{
    color: var(--cor3);
    position: relative;
    top: 5px;
    right: 10px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--cor4);
    font-size: 1.7em;

}
#key{
    background-color: var(--cor4);
    padding: 7px;
    border-radius: 50%;
    color: var(--cor3);
    position: relative;
    top: 5px;
    margin: 0%;
    right: 10px;
    font-size: 1.7em;
}

input[type=button]{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    padding: 7px;
    width: 110%;
    background-color: var(--cor5);
    font-weight: bolder;
    font-size: 1em;
    color: var(--cor3);
    border-radius: 20px;
}

a {
    display: block;
    text-align: center;
    margin: auto;
    width: 150px;
    background-color: var();
    color: white;
    padding: 4px;
    border-radius: 7px;
    text-decoration: none;
    font-size: .7em;
}


@media screen and (min-width: 768px) {
    section#login {
        height: 400px;
        width: 400px;
        padding: 20px;
        background: linear-gradient(to bottom,#ce4817cd , #a6033fd8, #02185ad5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 24px;
        box-shadow: 1px 1px 5px rgb(61, 61, 61);
    }

    form { 
        position: relative;
        top: 0%;
        left: 0%;
        height: 120px;
        width: 415px;
    }

    #person{
        color: var(--cor3);
        position: relative;
        top: 5px;
        right: 10px;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--cor4);
        font-size: 1.7em;
    
    }
    #key{
        background-color: var(--cor4);
        padding: 10px;
        border-radius: 50%;
        color: var(--cor3);
        position: relative;
        top: 5px;
        margin: 0%;
        right: 10px;
        font-size: 1.7em;
    }

    input[type=email] {
        width: calc(100% - 85px);
        padding: 10px;
        border-radius: 14px;
    }

    input[type=password] {
        width: calc(100% - 85px);
        padding: 10px;
        border-radius: 14px;
    }

}